html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url("Canada1.png");
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#center {
  padding-left: 5%;
	width: 620px;
  font-size: 0.8em;
}

#center p {
	font-size: 1.1em;
}

#forms {
	box-shadow: 1px 1px gray;
	border-radius: 3px;
	opacity: 0.95;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
  width: 500px;
}

#forms h4 {
  text-align: center;
}

#center .col-2 {
	padding: 0;
	padding-bottom: 5px;
	margin-right: 26px;
}

#center .row {
	padding-left: 15px;
}

#center .col-2:first-child {
	margin-right: 0;
}

#center .col-2:nth-child(2) {
	margin-right: 14px;
}

#navbar {
	background-color: rgba(223, 223, 223, 0.6);
}

.display-4 {
	font-size: 2em;
}

